<p-card>
  <p-table #dt
  dataKey="id"
  [columns]="cols"
  [value]="personList"
  editMode="row"
  [globalFilterFields]="['sex','datebirth']"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowHover]=true
  [loading]="loading"
  [showCurrentPageReport]="true"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5,10,15,20]">

  <ng-template pTemplate="caption">
    <div class="table-header">
<!--      class="p-button-success p-mr-2"-->
<!--      class="p-button-success p-button-outlined p-mr-2"-->
      <button  pButton  type="button" label="Add New" icon="pi pi-plus" class="p-button-success p-button-outlined p-mr-2" (click)="onAdd()"></button>
      People listing
        <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'fullname','contains')" placeholder="Search" />
        </span>
    </div>
</ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{col.header}}

          <p-dropdown #filterSex *ngIf="col.type == 'text'"
                      [options]="genderOptions"
                      (onChange)="filterbySex($event)"
                      styleClass="p-dropdown p-column-filter" placeholder="Select" showClear="true">

             </p-dropdown>

          <p-calendar *ngIf="col.type == 'date'"(onSelect)="onDateSelect($event)"
                      (onClearClick)="clearFilterDate($event)"
                      [showButtonBar]="true" styleClass="p-column-filter" placeholder="Birthdate Date"
                      [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>

        </div>
      </th>
      <th>Actions</th>
    </tr>
  </ng-template>


  <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td style="text-align:center">

        <p-button type="button" icon="pi pi-pencil"
                  styleClass="ui-button-info"
                  (click)="onEditRow(rowData)"></p-button>

        <p-button type="button" icon="pi pi-trash"
                  class="p-button-danger"
                  [style]="{marginLeft: '.5em'}"
                  (onClick)="deletePerson(rowData)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
</p-card>

<p-dialog [(visible)]="personDialog"
          [style]="{width: '916px', zIndex:1001}"
          header="Add Person" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="grid">
      <div class="p-row p-d-flex">
           <div class="p-field p-md-6">
             <label for="fullname">FullName</label>
             <input type="text" [(ngModel)]="person.fullname" pInputText id="fullname" [ngClass]="(submitted && person.fullname == '')?'ng-invalid ng-dirty': 'empty'"
                    [maxLength]="60" required autofocus/>
           </div>

           <div class="p-field p-col-6">
             <label>DNI</label>
             <p-inputNumber [(ngModel)]="person.cpf" mode="decimal" inputId="cpf" [useGrouping]="false" [ngClass]="(submitted && person.cpf == undefined)?'ng-invalid ng-dirty': 'empty'"
                            [maxlength]="11" [minlength]="11">
             </p-inputNumber>

           </div>

           <div class="p-field p-col-6">
          <label for="neighborhood">Neighborhood</label>
          <input type="text" [(ngModel)]="person.neighborhood" pInputText id="neighborhood" [ngClass]="(submitted && person.neighborhood == '')?'ng-invalid ng-dirty': 'empty'">

        </div>
      </div>

      <div class="p-row" style="padding-right: 11px; padding-left: 11px">
        <div class="p-field p-col-6">
          <label for="email">Email</label>
          <input type="text" pInputText id="email" [(ngModel)]="person.email" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                 [ngClass]="(submitted && person.email == '')?'ng-invalid ng-dirty': 'empty'"/>
        </div>

        <div class="p-field p-col-6">
          <label for="phone">Phone</label>
          <p-inputMask  id="phone" [(ngModel)]="person.phone" mask="999 999 9999" placeholder="(999) 999-9999" required
                        [ngClass]="(submitted && person.phone == '')?'ng-invalid ng-dirty': 'empty'"
          ></p-inputMask>
        </div>

        <div class="p-field p-col-6">
          <label>CodeNumber</label>
          <p-inputNumber [(ngModel)]="person.codeNumber" mode="decimal" inputId="codenumber" [useGrouping]="false"
                         [ngClass]="(submitted && person.codeNumber == '')?'ng-invalid ng-dirty': 'empty'"
                         [maxlength]="11" [minlength]="11" required>
          </p-inputNumber>
        </div>
      </div>

      <div class="p-row p-col-12 p-md-4" >
        <div class="p-field p-col-6">
          <label >Date Birth</label>
          <p-calendar [(ngModel)]="person.datebirth"  [maxDate]="maxDate" [readonlyInput]="true" inputId="min-max" required
                      dateFormat="dd/mm/yy" (onSelect)="selectDate($event)" [ngClass]="(submitted && person.datebirth == undefined)?'ng-invalid ng-dirty': 'empty'">

          </p-calendar>
        </div>

        <!--Genders-->
        <div class="p-field p-col-6" style="margin-top: 20px">
          <p-dropdown [options]="genders"
                      optionLabel="name"
                      [(ngModel)]="selectedGender"
                      [ngClass]="(submitted && person.sex == undefined)?'ng-invalid ng-dirty': 'empty'"
                      (onChange)="onSelectGender($event)"
                      placeholder="Select a Gender"></p-dropdown>
        </div>

        <div class="p-field p-col-6">
          <label for="city">City</label>
          <input type="text" [(ngModel)]="person.city" pInputText id="city" required
                 [ngClass]="(submitted && person.city == '')?'ng-invalid ng-dirty': 'empty'">
        </div>

      </div>

       <div class="p-row" style="margin-top: 20px">
         <div class="p-field">
             <label>Address</label>
           <!--Google Maps Components need APiKey-->
           <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                  pInputText id="address" required
                  [ngClass]="(submitted && person.address == '')?'ng-invalid ng-dirty': 'empty'"
                  [(ngModel)]="person.address"
                  (onAddressChange)="handleAddressChange($event)"/>
         </div>
       </div>

      <div class="p-row" style="margin-top: 20px; margin-left: 10px">
        <div class="p-field p-col-6">
          <label>Description</label>
          <textarea id="float-input" rows="3" cols="30"  [(ngModel)]="person.description" pInputTextarea></textarea>
        </div>

      </div>

    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSavePerson()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog header="Delete Information" icon="pi pi-info-circle p-confirm-dialog-icon"></p-confirmDialog>

<div style="margin-top: 3%">
  <agm-map [latitude]="position.lat" [longitude]="position.lng" *ngIf="showMap">
    <agm-marker [latitude]="position.lat" [longitude]="position.lng">
      <agm-info-window>

      </agm-info-window>

    </agm-marker>
  </agm-map>

</div>

<p-toast position="top-right"></p-toast>
